<a href="{% url 'detail' post.id %}" class="text-decoration-none">
  <div class="card text-center border border-3 h-100" style="width: 18rem;">

    <img src="{{ post.post_url }}"
         class="card-img-top rounded-circle mx-auto mt-3"
         alt="{{ post.post_title }}"
         style="width:120px;height:120px;object-fit:cover;">

    <div class="card-body d-flex flex-column">
      <h5 class="card-title text-dark">{{ post.post_title }}</h5>

      <p class="card-text text-dark text-truncate">
        {{ post.post_dis }}
      </p>

      <a href="{% url 'detail' post.id %}" class="btn btn-dark mt-auto">
        Read More...
      </a>
    </div>

  </div>
</a>
